
<section fxLayoutAlign="center">
  <mat-card>
    <form
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
      #f="ngForm"
      (ngSubmit)="login(f)"
    >
      <mat-form-field class="">
        <mat-label>Email:</mat-label>
        <input
          type="email"
          matInput
          placeholder="email@email.com"
          ngModel
          name="email"
          email
          required
          #emailInput="ngModel"
        />
        <mat-error *ngIf="emailInput.hasError('required')">
          <span>El Email no puede estar en blanco</span>
        </mat-error>
        <mat-error *ngIf="emailInput.hasError('email')">
          <span>El Email es invalido</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="">
        <mat-label>Password:</mat-label>
        <input
          type="password"
          matInput
          placeholder="******"
          ngModel
          name="password"
          required
          minlength="8"
          #passwordInput="ngModel"
        />
        <mat-error *ngIf="passwordInput.hasError('required')">
          <span>La contaseña no puede estar en blanco</span>
        </mat-error>
        <mat-error *ngIf="passwordInput.hasError('minlength')">
          <span>La contaseña debe tener más de 8 characteres</span>
        </mat-error>
      </mat-form-field>

      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="f.invalid"
      >
        <span>Save</span>
      </button>
    </form>
  </mat-card>
</section>
