<h1>Authors</h1>

<div fxLayoutAlign="center center">
  <mat-form-field fxFlex="60%">
    <input
      matInput
      type="text"
      (keyup)="onFilter($event)"
      placeholder="Filter"
    />
  </mat-form-field>
</div>

<mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="name" >
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.lastName }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="academicDegree">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Academic Degree</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.academicDegree }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="deployColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: deployColumns"></mat-row>
</mat-table>
<mat-paginator [pageSize]="20" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
